#Foto
{width: 50%;background-image: url(IMAGENES/bosque4.jpg); float: right;}
#Info
{"width: 50%;background-color: orange; float: left;"}
#Info1
{"width: 100%;background-color: purple; float: left;"}

